<!DOCTYPE html>
<html>
  <head>
    <title>Travel Itinerary Bot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    <div class="container py-3">
        <div class="row">
            <div class="col-12">
            <h1 class="chat_title">Travel Itinerary Bot</h1>
            </div>
        </div>
    </div>
    <div class="container py-3">
      <div class="row">
        <div class="col-12">
          <div class="chat_card">
            <div class="card-body">
              <div class="row"  id="dialog_container">
                <div class="col-12 mb-3">
                  <div class="d-flex">
                    <img src="static/bot_icon.gif" alt="Profile Picture" class="rounded-circle me-2" height="50px" width="70px">
                    <div class="message-content">
                      <p>Hi there! Where are you looking to travel?</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="d-flex flex-row-reverse">
                    <div class="message-content my-message">
                      <p>I'd like to travel to Sydney.</p>
                    </div>
                    <img src="https://via.placeholder.com/50" alt="Profile Picture" class="rounded-circle ms-2">
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="d-flex">
                    <img src="static/bot_icon.gif" alt="Profile Picture" class="rounded-circle me-2" height="50px" width="70px" >
                    <div class="message-content">
                      <p>How many people are you traveling with?</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="d-flex flex-row-reverse">
                    <div class="message-content my-message">
                      <p>Seven</p>
                    </div>
                    <img src="https://via.placeholder.com/50" alt="Profile Picture" class="rounded-circle ms-2">
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="d-flex">
                    <img src="static/bot_icon.gif" alt="Profile Picture" class="rounded-circle me-2" height="50px" width="70px" >
                    <div class="message-content">
                      <p>How many days are you travelling for?</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="d-flex flex-row-reverse">
                    <div class="message-content my-message">
                      <p>4 days</p>
                    </div>
                    <img src="https://via.placeholder.com/50" alt="Profile Picture" class="rounded-circle ms-2">
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="d-flex">
                    <img src="static/bot_icon.gif" alt="Profile Picture" class="rounded-circle me-2" height="50px" width="70px" >
                    <div class="message-content">
                      <p>Okay here is your itinerary for 4 days in Sydney with 7 people!</p>
                    </div>
                  </div>
                </div>
              </div>
              <form id="user_input_form">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Type your message here..." name="user_input_content" id="user_input">
                  <button class="input-group-text" id="submit_button" type="submit">Send</button>
                </div>
              </form>
              <form action="{{ url_for('logout') }}" method="POST">
                <input type="submit" value="Logout">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const dialog_container = document.getElementById("dialog_container");
        const submit_Button = document.getElementById("submit_button");
        const user_input = document.getElementById("user_input");

        $(document).ready(function() {
            $('#user_input_form').submit(function(event) {
                event.preventDefault();
                var userInput = $('#user_input').val();
                var dialog = document.createElement("div");
                $.ajax({
                    type: 'POST',
                    url: '/submit',
                    data: { user_input_content: userInput },
                    success: function(response) {
                        var GPT_msg = response.message;
                        dialog.innerHTML += "<div class='col-12 mb-3'> <div class='d-flex'> <img src='static/bot_icon.gif' alt='Profile Picture' class='rounded-circle me-2' height='50px' width='70px' > <div class='message-content'> " +
                        "<p>" + GPT_msg + "</p> " +
                        "</div> </div> </div>"

                        dialog_container.style.height = dialog_container.offsetHeight + "px";
                        dialog_container.style.width = dialog_container.offsetWidth + "px";
                        dialog_container.appendChild(dialog);
                        console.log('Response:', response);
                        dialog_container.scrollTop = dialog_container.scrollHeight;
                    },
                    error: function(error) {
                        console.error('Error:', error);
                    }
                });

                dialog.innerHTML += "<div class='col-12 mb-3'> <div class='d-flex flex-row-reverse'> <div class='message-content my-message'> " +
                    "<p>" + userInput + "</p> " +
                    "</div> <img src='https://via.placeholder.com/50' alt='Profile Picture' class='rounded-circle ms-2'> </div> </div>";

                dialog_container.style.height = dialog_container.offsetHeight + "px";
                dialog_container.style.width = dialog_container.offsetWidth + "px";
                dialog_container.appendChild(dialog);
                user_input.value = "";
            });
        });
    </script>

  </body>
</html>
