<!DOCTYPE html>
<html>
  <head>
    <title>Travel Itinerary Bot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="hero">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="hero-content">
              <h1 class="hero-title">Travel Itinerary Bot</h1>
              <p class="hero-description">Plan you holiday in seconds!</p>
              <a href="Login_Page.html" class="cta-button landing btn btn-primary">Login</a>
              <a href="Register_Page.html" class="cta-button landing btn btn-primary">Register</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

