<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
</head>
<body>
  <h1>Registration Form</h1>
  
  <form action="{{ url_for('register') }}" method="POST">
    {{ form.hidden_tag() }}
    
    <div>
      {{ form.username.label }}<br>
      {{ form.username() }}
    </div>
    
    <div>
      {{ form.email.label }}<br>
      {{ form.email() }}
    </div>
    
    <div>
      {{ form.first_name.label }}<br>
      {{ form.first_name() }}
    </div>
    
    <div>
      {{ form.last_name.label }}<br>
      {{ form.last_name() }}
    </div>
    
    <div>
      {{ form.dob.label }}<br>
      {{ form.dob() }}
    </div>
    
    <div>
      {{ form.country.label }}<br>
      {{ form.country() }}
    </div>
    
    <div>
      {{ form.city.label }}<br>
      {{ form.city() }}
    </div>
    
    <div>
      {{ form.password.label }}<br>
      {{ form.password() }}
    </div>
    
    <div>
      {{ form.password2.label }}<br>
      {{ form.password2() }}
    </div>
    
    <div>
      <input type="submit" value="Register">
    </div>
  </form>
</body>
</html>

